<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuelFix"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManageOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentModeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AgeVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PhoneAuthActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManageStationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocationSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocationPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManualLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WelcomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="NlV4xfiknozaWYNlV4xfiknozaWY" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="QCDyHddF8gxLQb" />
    </application>

</manifest>